body{

background:#141414;

color:white;

font-family:
Segoe UI,
sans-serif;

}

.netflix-nav{

background:black;

padding:15px;

}

.logo{

color:#E50914;

font-size:32px;

font-weight:bold;

}

.netflix-nav a{

color:white;

margin-left:20px;

text-decoration:none;

}

.hero{

height:350px;

background:
linear-gradient(
rgba(0,0,0,0.7),
rgba(0,0,0,0.7)
),

url("https://images.unsplash.com/photo-1484480974693-6ca0a78fb36b");

background-size:cover;

display:flex;

justify-content:center;

align-items:center;

}

.task-card{

    background:#222;

    width:350px;

    padding:25px;

    margin:20px;

    border-radius:12px;

    transition:0.4s;

    display:inline-block;

}

.task-card:hover{

transform:scale(1.05);

box-shadow:
0 0 20px #E50914;

}

.High{
color:red;
}

.Medium{
color:orange;
}

.Low{
color:lime;
}

.reward-zone{

position:fixed;

top:20px;

right:20px;

background:#E50914;

padding:20px;

border-radius:10px;

animation:
pop 0.5s;

}

@keyframes pop{

0%{
transform:scale(0);
}

100%{
transform:scale(1);
}

}
form{

    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:15px;

    padding:30px;

}

form input,
form select{

    width:280px;
    height:60px;

    padding:10px;

    font-size:18px;

    border:none;
    border-radius:8px;

    background:#2b2b2b;
    color:white;

}

form button{

    width:180px;
    height:60px;

    font-size:20px;

    background:#E50914;
    color:white;

    border:none;
    border-radius:8px;

    cursor:pointer;

}

form button:hover{

    transform:scale(1.05);

}